	

.taxi{
	background-image: url(../images/taxi.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-position: bottom;
	height: 600px;
}

.fondo{
	background-color:#F7B617;
	padding: 10px;
	margin-top: 100px;
}

.fon1{
	margin-top: 100px;
	background-color:#F7B617;
	padding: 10px;
}
.yellow1{
	background-color:#F7B617;
	color: white;
}

.whiteLine{
	border: 2px solid white;
	height: 450px;
	width: 
	margin-top: 30px;
	display: inline-block;
}
.text{
	display: inline-block;
}

.cars{
	background-image: url(../images/conduce.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-position: bottom;
	height: 400px;
}

.grey{
	color: white;
	background-color: #2B2B2B
}

.list1{
	list-style: none;
	display: inline-block;
}

